<div class="mtp__slider js-mtp-slider">

	<div class="mtp__slider-header">
		<h2>Слайдер</h2>
	</div>

	<div class="mtp__slider-main">
		<div class="swiper mtp__slider-container js-mtp-gallery js-mtp-main-slider">
			<div class="swiper-wrapper mtp__slider-wrapper">

				<div class="swiper-slide mtp__slider-slide js-mtp-gallery-item"
					 data-mfp-src="images/mtp-img.jpg">
					<picture>
						<source srcset="images/mtp-img.webp" type="image/webp">
						<img src="images/mtp-img.jpg" alt="Lorem ipsum dolor sit amet"
							 title="Lorem ipsum dolor sit amet">
					</picture>

					<div class="mtp__slider-description ">
						<h3 class="title">Lorem ipsum dolor sit amet</h3>
						<div class="text">Lorem ipsum dolor sit amet</div>
					</div>
				</div>
				<div class="swiper-slide mtp__slider-slide js-mtp-gallery-item"
					 data-mfp-src="images/mtp-img.jpg">
					<picture>
						<source srcset="images/mtp-img.webp" type="image/webp">
						<img src="images/mtp-img.jpg" alt="Lorem ipsum dolor sit amet"
							 title="Lorem ipsum dolor sit amet">
					</picture>

					<div class="mtp__slider-description ">
						<h3 class="title">Lorem ipsum dolor sit amet</h3>
						<div class="text">Lorem ipsum dolor sit amet</div>
					</div>
				</div>
				<div class="swiper-slide mtp__slider-slide js-mtp-gallery-item"
					 data-mfp-src="images/mtp-img.jpg">
					<picture>
						<source srcset="images/mtp-img.webp" type="image/webp">
						<img src="images/mtp-img.jpg" alt="Lorem ipsum dolor sit amet"
							 title="Lorem ipsum dolor sit amet">
					</picture>

					<div class="mtp__slider-description ">
						<h3 class="title">Lorem ipsum dolor sit amet</h3>
						<div class="text">Lorem ipsum dolor sit amet</div>
					</div>
				</div>

				<div class="swiper-slide mtp__slider-slide mtp__slider-slide--video js-mtp-gallery-item video"
					 data-video-src="https://www.youtube.com/embed/z-wLp8ccM1g">
					<picture>
						<source srcset="images/mtp-img.webp" type="image/webp">
						<img src="images/mtp-img.jpg" alt="Lorem ipsum dolor sit" title="Lorem ipsum dolor sit amet">
					</picture>
				</div>
			</div>

			<button class="swiper-button-prev mtp__slider-button mtp__slider-button--prev js-mtp-slider-button-prev">
					<i class="icon icon--arrow-left"></i>
			</button>

			<button class="swiper-button-next mtp__slider-button mtp__slider-button--next js-mtp-slider-button-next">
					<i class="icon icon--arrow-right"></i>
			</button>

			<div class="swiper-pagination mtp__slider-pagination js-mtp-slider-pagination"></div>

		</div>
	</div>

	

</div>
