<form action="">

	<label class="field">
		<input type="text" class="field__input" placeholder="Ваше имя" required>
		<span class="field__title">Ваше имя</span>
	</label>

	<label class="field">
		<input type="tel" class="field__input" placeholder="Номер телефона" required>
		<span class="field__title">Номер телефона</span>
	</label>

	<label class="field">
		<input type="email" class="field__input" placeholder="Почта" required>
		<span class="field__title">Почта</span>
	</label>

	<label class="field">
		<input type="password" class="field__input" placeholder="Пароль" required>
		<button type="button" class="field__toggle-password js-toggle-password hide"><i class="icon icon--eye-hide"></i>
			<i class="icon icon--eye-show"></i></button>
		<span class="field__title">Пароль</span>
	</label>
  
  <label class="field-check">
		<input type="checkbox" class="field-check__input" placeholder="Почта" required>
		<span class="field-check__name">Чекбокс</span>
	</label>

  <label class="field-check">
		<input type="radio" name="radio" class="field-check__input" placeholder="Почта" required>
		<span class="field-check__name">Радио</span>
	</label>

  <label class="field-check">
		<input type="radio" name="radio" class="field-check__input" placeholder="Почта" required>
		<span class="field-check__name">Радио</span>
	</label>


</form>
