<form action="">

	<div class="custom-select">
   

		<select name="name" class="custom-select__item js-choice">

			<option value="1" class="test">тест опция 1</option>
			<option value="1" class="test">тест опция 2</option>
			<option value="1" class="test">тест опция 3</option>

		</select>

     <span class="custom-select__title">Селект с одним выбором</span>
	</div>


	<div class="custom-select">

   

		<select name="name" multiple class="custom-select__item js-choice">

			<option value="1">тест опция 1</option>
			<option value="1">тест опция 2</option>
			<option value="1">тест опция 3</option>
      
		</select>

     <span class="custom-select__title">Селект с множественным выбором</span>

	</div>

</form>
